#!/usr/bin/make -f

export DH_GOLANG_BUILDPKG := \
	github.com/docker/containerd/ctr \
	github.com/docker/containerd/containerd \
	github.com/docker/containerd/containerd-shim

%:
	dh $@ --buildsystem=golang --with=golang
